* {
	margin: 0;
}

.input-container {
	display: flex;
	border-radius: 8px;
	height: 56px;
	width: 180px;
	font-weight: 900;
	font-size: 21px;
	border: 1px solid #b24242;
	overflow: hidden;
}

.input-box {
	background-color: #fbe8e8;
	text-align: center;
	color: #b24242;
	width: 60px;
	font-weight: 900;
	font-size: 21px;
}

.dec-button {
	flex-grow: 1;
	width: 60px;
	color: #b24242;
	font-weight: 900;
	font-size: 21px;
	background-color: white;
}

.inc-button {
	width: 60px;
	color: white;
	background-color: #b24242;
	font-weight: 900;
	font-size: 21px;
}
